.active {
  background-color: var(--bg-active-folder);
  font-weight: 700;
}

.folder {
  width: 200px;
  height: 36px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.text {
  font-family: 'Arial';
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  color: var(--color-font-name);
}

.svg {
  fill: var(--color-font-name);
  margin: 0 14px 0 10px;
}

.folder:active {
  background-color: var(--bg-active-folder);
  font-weight: 700;
}


@media screen and (max-width: 768px) {
  .folder {
    width: 36px;;
    height: 36px;
  }

  .svg {
    margin-right: 0;
  }

  .text {
    display: none;
  }
}